.App .card {
  max-width: 600px;
  margin: 30px auto 10px auto;
  padding: 20px;
  background: #112d4e;
  color: #dbe2ef;
  border-radius: 15px;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
