body.light-mode {
  background-color: #d4e5e8;
  color: #153685;
  transition: background-color 0.5s ease;
}
body.dark-mode {
  background-color: #2d4059;
  color: #153685;
  transition: background-color 0.5s ease;
}
