.SearchForm form {
  display: inline;
}

.SearchForm .search-bar {
  background: #fdffff;
  border: 1px solid #153685;
  color: #153685;
  width: 72%;
  display: inline;
  margin-right: 5px;
  position: relative;
  top: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: color 0.5s ease;
}

body.dark-mode .SearchForm .search-bar {
  background: #193d60;
  border: 1px solid #abc4e0;
  color: #abc4e0;
  transition: color 0.5s ease;
}

.SearchForm .btn {
  color: #153685;
  background: #fdffff;
  border: 1px solid #153685;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

body.dark-mode .SearchForm .btn {
  color: #abc4e0;
  background: #193d60;
  border: 1px solid #abc4e0;
}

.SearchForm .btn:hover {
  background: #153685;
  color: #fdffff;
}

body.dark-mode .SearchForm .btn:hover {
  background: #abc4e0;
  color: #193d60;
}
