.SearchForm form {
  display: inline;
}

.SearchForm .search-bar {
  background: #fdffff;
  border: 1px solid #153685;
  color: #153685;
  width: 72%;
  display: inline;
  margin-right: 5px;
  position: relative;
  top: 2px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

.SearchForm .btn {
  color: #153685;
  background: #fdffff;
  border: 1px solid #153685;
  margin: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
  transition: all 150ms ease-in-out;
}

.SearchForm .btn:hover {
  opacity: 0.8;
  background: #153685;
  color: #fdffff;
}
