.Weather .mainInfo {
  margin: 20px 20px 30px 0;
  border: 2px solid #153685;
}

body.dark-mode .Weather .mainInfo {
  border: 2px solid #abc4e0;
  transition: color 0.5s ease;
}

.Weather .iconAndDescription {
  margin: 60px 0 40px 0;
  text-align: center;
}

.Weather .description {
  font-size: 18px;
  padding-top: 10px;
}

.Weather .weatherDetails {
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
}

.Weather .forecast,
.Weather .forecastIcon {
  padding: 0;
}

.Weather .darkMode {
  position: absolute;
  left: 20px;
  bottom: 20px;
}
