.Weather .mainInfo {
  margin: 20px 20px 30px 0;
  border: 2px solid #dbe2ef;
}
.Weather h1 {
  font-size: 40px;
}

.Weather .iconAndDescription {
  margin: 60px 0 40px 0;
  text-align: center;
}

.Weather .description {
  font-size: 18px;
}

.Weather .weatherDetails {
  padding: 0;
  margin-bottom: 15px;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
}

.Weather .forecast {
  padding: 0;
}

.Weather .forecastIcon {
  padding: 0;
}
